@import 'override';
@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
html {
  font-size: 85%;
}

body {
  overflow-x: hidden;
}

::selection {
  background-color: rgba($themeAttention, .7);
  color: $white;
}

// buggy
.dropdown-item {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.page-enter-active,
.page-leave-active {
  transition: all .5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateY(100px);
}

.emojione {
  max-width: 1.5rem;
  vertical-align: -.25rem;
}

.btn {
  cursor: pointer;
}
.btn-secondary.disabled, .btn-secondary:disabled {
  cursor: auto;
}

body.dark {
  background-color: #252525;
  color: #d5d5d5;
}

body.dark .navbar {
  background-color: #252525;
}

body.dark .card {
  background-color: #252525;
}

body.dark .list-group-item {
  background-color: #252525;
}

body.dark .form-control {
  background-color: #252525;
}

body.dark .dropdown-menu {
  background-color: #252525;
  color: #d5d5d5;
}

body.dark .dropdown-item {
  color: #d5d5d5;
}

body.dark .list-group-item[data-v-1084c69e]:hover:not(.active):not(.h5) {
  background-color: #d5d5d5;
}

body.dark .modal-content {
  background-color: #252525;
  color: #d5d5d5;
}

body.dark .jumbotron {
  background-color: #252525;
  color: #d5d5d5;
}
